@import url(base.css);

h1 {
    font-size: 200%;
    margin: 8px 0px;
}

/* Constrain the page to the viewport */
html, body {
    height: 100vh;
}

main {
    overflow-y: auto;
}

/* Center the nav's header and list */
nav {
    display: flex;
    align-items: center;
}

    /* navigation buttons have full width */
    nav button {
        width: 100%;
    }

/* Remove unnecessary space and bullets from the lists */
ul {
    padding: 0px;
    margin: 16px;
    list-style-type: none;
}

.all_button {
    background-color: aquamarine;
}

button {
    font-size: 120%;
}

/* Task 2.1. Lay out the childs of the 'body' using Grid Template Areas.
    As areas you can use: h for header, n for nav, m for main, and f for footer
*/

header {
    grid-area: h;
}

nav {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    grid-area: n;
}
/*

*/

main {
    grid-area: m;
    grid-auto-columns: auto;
}

footer {
    grid-area: f;
    grid-auto-rows: minmax(64px, 128px);
}

body {
    display: grid;
    grid-template-areas:
        "h"
        "n"
        "m"
        "f"
}

li {
    float: left;
    margin: 4px;
}

@media only screen and (min-width: 640px) {

    nav {
        display: flex;
        grid-auto-rows: minmax(192px, 256px);
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        grid-area: n;
    }

    button {
        font-size: 105%;
    }

    body {
        display: grid;
        grid-template-areas:
            "h h"
            "n m"
            "f f"
    }

    li {
        float: none;
        margin: 4px;
    }

}



/* Task 3.1. Make the header element a flex container and center its children
   vertically and horizontally.
 */


/* Task 3.2. Make the list items of the unordered list in the nav element a flex container, 
   use column direction and center the child items
 */

/* Task 3.3. Make the main element a Flexbox container */


/* Task 3.4. Make the footer's ul a Flexbox container */


/* From here on styling from exercise 1 */
img {
    border-radius: 12px;
}

article {
    background-color: lightgray;
    border-radius: 16px;
    padding: 16px;
    width: 384px;
    margin: 8px;
}

a {
    color: beige;
}

span {
    margin-right: 4px;
}

.genre {
    padding: 4px 8px;
    border: solid black 1px;
    border-radius: 6px;
    background-color: darkgray;
    font-weight: bold;
}
